.archive-list {
    display: flex;
    flex-wrap: wrap;
    margin:-15px -15px 0;
}

.archive-list .empty {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-size: 1.6rem;
    width: 100%;
    padding: 20rem 0;
}

.archive-list .item {
    width:25%;
    box-sizing: border-box;
    padding:15px;
}
.archive-list .item .thumb {
    width:100%;
    aspect-ratio: 4 / 3;
    position: relative;
    border:1px #e2e4e7 solid;
    overflow: hidden;
    transition-duration: .3s;
}
.archive-list .item .thumb img {
    width:100%;
    height:100%;
    transform: scale(1);
    transform-origin: center;
    transition-duration: .3s;
    object-fit: cover;
}
.archive-list .item:hover .thumb {
    border-color:#4fb8c5;
    transition-duration: .3s;
}
.archive-list .item:hover .thumb img {
    transform: scale(1.1);
    transform-origin: center;
    transition-duration: .3s;
    object-fit: cover;
}

.archive-list .item p {
    font-size:1.5rem;
    color:#555;
    font-weight:400;
    text-align: left;
    margin:15px 0;
    transition-duration: .3s;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.archive-list .item:hover p {
    color:#111;
    transition-duration: .3s;
}

.search-bar {
    border-bottom:1px #e2e4e7 solid;
}
.search-bar .layout {
    display: flex;
    align-items: center;
}
.search-bar p {
    font-size:1.4rem;
    color:#555;
    font-weight:500;
    flex-grow: 1;
}
.search-bar .search {
    height:50px;
    position: relative;
    margin-bottom:-1px;
    width:300px;
    transition-duration: .3s;
}
.search-bar .search:after {
    content:'';
    position: absolute;
    background:#4fb8c5;
    bottom:0;
    left:0;
    right:0;
    height:2px;
    transform: scaleY(0.5);
    transition-duration: .3s;
}
.search-bar .search:hover:after,
.search-bar .search:focus:after,
.search-bar .search:focus-within:after {
    transform: scaleY(1);
    transition-duration: .3s;
}
.search-bar .search input {
    height:50px;
    width:100%;
    position: absolute;
    border-width: 0;
    background: none;
    outline: none;
}
.search-bar .search button {
    border:0;
    width:36px;
    height:36px;
    border-radius: 50%;
    position: absolute;
    right:0;
    background: none;
    top:calc(50% - 18px);
    z-index: 5;
    cursor: pointer;
}
.search-bar .search button img {
    width: 100%;
    height:100%;
}

.search-field {
    background: #f2f4f7;
}
.search-field ul {
    padding:4rem 0;
    display: flex;
    flex-direction: column;
    gap:2rem;
}
.search-field li {
    display: flex;
}
.search-field li label {
    color:#111;
    font-weight:600;
    min-width:10rem;
    font-size:1.5rem;
    line-height:4.4rem;
}
.search-field li .contents {
    flex-grow:1;
    gap:1rem;
    display: flex;
    flex-wrap:wrap;
}
.search-field li .contents a {
    background: rgba(0,0,0,0.05);
    padding:0 1.6rem;
    height:4.4rem;
    border-radius: 2.2rem;
    display: flex;
    align-items: center;
    transition-duration: .2s;
    cursor: pointer;
}

.search-field li .contents a b {
    color:#333;
    font-weight:400;
    line-height:1;
    font-size:1.4rem;
    transition-duration: .2s;
}
.search-field li .contents a span {
    color:#999;
    margin-left:6px;
    font-size:1.4rem;
    line-height:1;
    font-family: 'Montserrat';
    transition-duration: .2s;
}

.search-field li .contents a:hover,
.search-field li .contents a.active {
    background:#4fb8c5;
    transition-duration: .2s;
}
.search-field li .contents a:hover b,
.search-field li .contents a.active b {
    color:#fff;
    transition-duration: .2s;
}
.search-field li .contents a:hover span,
.search-field li .contents a.active span {
    color:#fff;
    transition-duration: .2s;
}

.search-field li.theme .contents a:first-child {
    border:1px #1562e1 solid;
    background: #fff;
}

.search-field li .contents a:first-child:hover,
.search-field li .contents a:first-child.active {
    background: #1562e1;
    transition-duration: .2s;
}
.search-field li .contents a:first-child:hover span,
.search-field li .contents a:first-child.active span {
    color:#fff;
    transition-duration: .2s;
}
.archive-title {
    margin-top:12rem;
}
.archive-title h2 {
    font-size:4.6rem;
    line-height:1.4;
    margin-bottom:3rem;
}

.archive-contents {
    padding-top:4rem;
    padding-bottom:10rem;
    border-top:1px #e2e4e7 solid;
}
.archive-contents p {
    font-size:1.8rem;
    line-height:1.6;
    color:#222;
}
.archive-contents .row {
    display: flex;
}
.archive-contents .row p {
    flex:1;
}
.archive-contents a {
    padding-bottom:.3rem;
    font-size:1.6rem;
    display: inline-block;
    font-weight:700;
    border-bottom:2px #222 solid;
}
.archive-contents ul {
    display: flex;
    flex-wrap: wrap;
    margin-top:40px;
    row-gap:20px;
}
.archive-contents li {
    min-width: 50%;
    flex:1;
    display: flex;
}
.archive-contents label {
    font-size:1.6rem;
    color:#222;
    font-weight:700;
    width:200px;
}
.archive-contents span {
    font-size:1.6rem;
    color:#777;
    font-weight:500;
}

.swiper {
    margin:4rem 0;
    overflow: visible;
}

.swiper:not(.swiper-initialized) .swiper-wrapper {
    gap: 3px;
}

.swiper .swiper-wrapper .swiper-slide {
    width:auto;
    height:360px;
    border:1px #e2e4e7 solid;
}
.swiper img {
    width:100%;
    height:100%;
    object-fit: cover;
}

@media screen and (max-width: 1024px) {
    .archive-list .item {
        width:33.3%;
    }
    .archive-title h2 {
        font-size:3.4rem;
    }
    .swiper .swiper-wrapper .swiper-slide {
        height:280px;
    }
    .archive-contents {
        padding-top:3rem;
    }
    .archive-contents p {
        font-size:1.6rem;
    }
    .archive-contents ul {
        margin-top:3rem;
    }
}
@media screen and (max-width: 768px) {
    .archive-list .item {
        width:50%;
    }
}
@media screen and (max-width: 450px) {
    .archive-list .item {
        width:100%;
    }
    .search-bar .layout {
        flex-direction: column;
    }
    .search-bar p {
        margin-bottom:2rem;
    }
    .search-field li {
        flex-direction: column;
    }
    .search-field li label {
        font-size:1.3rem;
        margin-bottom:0.5rem;
        min-width: auto;
    }
    .archive-title {
        margin-top:8rem;
    }
    .archive-title h2 {
        font-size:2.4rem;
    }
    .archive-title .breadcrumb {
        display: none;
    }
    .archive-detail-layout .swiper {
        margin:3rem 0;
    }
    .archive-detail-layout .swiper .swiper-wrapper .swiper-slide {
        height:200px;
    }
    .archive-contents {
        padding-top:3rem;
    }
    .archive-contents p {
        font-size:1.6rem;
    }
    .archive-contents ul {
        margin-top:3rem;
    }
    .archive-contents li {
        min-width: 100%;
    }
}