:root {
    --black: #000000;
    --gray: #666666;
    --main: #53d7e8;
    --sub: #fa6e22;
    --white: #ffffff;
    --text-copyright: #ffffff;
    --text-gnb: #eee;
    --text-gnb-active: #17469e;
    --text-gnb-active-hover: #163673;
    --text-gnb-hover: #cccccc;
    --text-gray: #666666;
    --main-hover: #4fb8c5;
    --sub-hover: #e56824;
    --white-hover: #eeeeee;
    --text-main: #111111;
    --text-white: #ffffff;
}

* {
    letter-spacing: -0.05em;
    font-family: NanumSquareNeo sans-serif;
}

html, body {
    font-size: 10px;
    letter-spacing: -0.03rem;
}

html::-webkit-scrollbar {
    display: none;
}

a {
    color: inherit;
    text-decoration: none;
}

#wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
}

main {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
}

.container {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 146rem;
    padding: 0 2rem;
    width: 100%;
}

header {
    box-sizing: border-box;
    height: 8.5rem;
    left: 0;
    padding: 2rem 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
}

header .container {
    align-items: center;
    display: flex;
    gap: 2rem;
}

header h1 {
    flex: 1;
    display: flex;
    align-items: center;
}

header h1 .logo-simbol {
    width:7rem;
    line-height:0;
    position: relative;
}

header h1 .logo-simbol img {
    width:100%;
    line-height:0;
}

header h1 .logo-simbol .color {
    position: absolute;
    z-index: 1;
    left:0;
    right:0;
    top:0;
    bottom:0;
    opacity: 0;
}

header h1 .logo-txt {
    width: 16rem;
    line-height:0;
    position: relative;
}

header h1 .logo-txt img {
    width:100%;
    line-height:0;
}

header h1 .logo-txt .color {
    position: absolute;
    z-index: 1;
    left:0;
    right:0;
    top:0;
    bottom:0;
    opacity: 0;
}

header h1 a {
    align-items: center;
    display: flex;
    gap: 1rem;
}

header h1 a span {
    color: var(--text-gnb);
    font-family: NanumSquareNeo sans-serif;
    font-size: 1.4rem;
    margin-top: 0.3rem;
    font-weight: 400;
}

.gnb {
    display: flex;
}

.gnb .sub-menu-container {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
}

.gnb a {
    color: var(--text-gnb);
    font-family: NanumSquareNeo sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 1.5rem 2.5rem;
    text-align: center;
    transition: color 0.2s ease;
}

.gnb a:hover {
    color: var(--main);
}

.gnb a.active {
    color: var(--main);
}

.gnb .sub-menu-container:hover a {
    color: var(--main);
}

.gnb .sub-menu-container:hover .sub-menu {
    opacity: 1;
    pointer-events: auto;
    transform: translateX(-50%) translateY(0rem);
}

.gnb .sub-menu-container .sub-menu {
    background-color: var(--white);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    justify-content: center;
    left: 50%;
    margin: 0 auto;
    opacity: 0;
    padding: 3rem 2.5rem 3rem;
    pointer-events: none;
    position: absolute;
    top: 4.5rem;
    transform: translateX(-50%) translateY(1rem);
    transition: all 0.2s ease;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

.gnb .sub-menu-container .sub-menu a {
    color: #777;
    font-weight:500;
    font-size:1.5rem;
    padding: 0;
    white-space: nowrap;
    word-break: keep-all;
}

.gnb .sub-menu-container .sub-menu a:hover {
    color: #111;
}

.sub header {
    background-color: var(--white);
}

.sub header h1 a span,.sub header .gnb a {
    color:#333;
}

.sub header h1 .logo-txt .color {
    opacity: 1;
}

.sub header h1 .logo-simbol .color {
    opacity: 1;
}

.slide-page header h1 a span {
    color:#4d5a63;
}

.slide-page header h1 .logo-txt .color {
    opacity: 1;
}

.slide-page header h1 .logo-simbol .color {
    opacity: 1;
}

.slide-page header .gnb a {
    color:#4d5a63;
}
.slide-page header .gnb a:hover,
.slide-page header .gnb a.active {
    color:var(--text-gnb-active)
}

.sub header .gnb a:hover,
.sub header .gnb a.active {
    color:var(--main)
}

header .btn {
    align-items: baseline;
    background-color: var(--main);
    border-radius: 2.5rem;
    color: #16626c;
    display: inline-flex;
    font-family: NanumSquareNeo sans-serif;
    font-size: 1.4rem;
    line-height:1;
    font-weight: 600;
    padding: 1.3rem 2rem 1.3rem;
    transition-duration: 0.2s;
    transition-property: background-color, color;
    transition-timing-function: ease;
}

a.btn:hover {
    background-color: var(--main-hover);
}

.btn-sub {
    background-color: var(--sub);
    color: var(--text-white)
}

a.btn-sub:hover {
    background-color: var(--sub-hover);
}

.btn-sm {
    font-size: 1.4rem;
    padding: 0.8rem 1.5rem 0.7rem;
}

.btn-white {
    background-color: var(--white);
    color: var(--text-main)
}

a.btn-white:hover {
    background-color: var(--white-hover);
    color: var(--text-main)
}

.copyright {
    bottom: 0;
    display: flex;
    flex-direction: column;
    height: 9.5rem;
    justify-content: center;
    left: 0;
    position: fixed;
    right: 0;
    width: 100%;
    z-index: 1000;
}

.copyright p {
    color: var(--text-copyright);
    font-family: 'Montserrat';
    font-size: 1.4rem;
    font-weight: 300;
    letter-spacing: -0.05rem;
    opacity: 0.5;
}

.shadow {
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.2s ease;
}

a.shadow:hover {
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.5);
}

.shadow-sm {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.05);
}
