#smooth-wrapper {
    pointer-events: none;
}

.bg {
    background-color: #000000;
    bottom: 0;
    height: 100%;
    left: 0;
    pointer-events: none;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: -1;
}

.bg img {
    bottom: 0;
    height: 100%;
    left: 0;
    margin: auto;
    object-fit: cover;
    opacity: 0.9;
    position: absolute;
    right: 0;
    top: 0;
    transform: scale(1.2);
    width: 100%;
}

.bg-txt {
    bottom: 9.5rem;
    color: var(--text-main);
    font-family: Montserrat sans-serif;
    font-size: 18rem;
    font-weight: 800;
    opacity: 0.05;
    position: fixed;
    right: 0;
    transform: scaleX(1.15);
    transform-origin: right center;
}

main {
    bottom: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 100%;
    justify-content: center;
    margin: auto 0;
    padding: 12rem 0 10rem;
    position: fixed;
    top: 0;
    width: 100%;
}

main .container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}

main .gallery {
    align-items: center;
    display: flex;
    flex: 1;
    gap: 8rem;
    padding: 10rem 0;
    transition: transform 0.25s ease-out;
}

main .gallery .meta {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    gap: 2rem;
    width: 45rem;
}

main .gallery .meta .text-container {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}

main .gallery .meta .text-container .year {
    font-family: 'Montserrat';
    letter-spacing: 0.05em;
    margin-bottom:1.5rem;
    font-weight: 500;
    opacity: 0.8;
    background: #0d5abd;
    color: #fff;
    display: block;
    font-size: 1.6rem;
    line-height:1;
    padding: 1.4rem 2.5rem;
    border-radius: 2.2rem;
    position: relative;
    z-index: 1;
}

main .ind .gallery .meta .text-container .year {
    background: #b71a1a;
}

main .gallery .meta .text-container .title {
    color: var(--text-main);
    font-family: 'NanumSquareNeo', sans-serif;
    font-size: 5.2rem;
    font-weight: 800;
    line-height: 6.6rem;
    word-break: keep-all;
    position: relative;
    z-index: 2;
}

main .gallery .images-container {
    align-items: center;
    display: flex;
    gap: 8rem;
}

main .gallery .images-container + .meta {
    margin-left: 12rem;
}

main .gallery .images-container .image-container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    line-height: 0;
    opacity: 0;
    position: relative;
    transform: translateY(10%);
    transition: all 0.2s ease;
}

main .gallery .images-container .image-container span {
    background: rgba(0, 0, 0, 0.8);
    bottom: 0;
    color: #fff;
    display: block;
    font-size: 1.4rem;
    line-height:1.5;
    left: 0;
    opacity: 0;
    padding: 1.5rem 2rem 1.7rem;
    position: absolute;
    right: 0;
    transform: translateY(100%);
    transition-duration: .2s;
}

main .gallery .images-container .image-container a:hover span {
    opacity: 1;
    transform: translateY(0);
    transition-duration: .3s;
}

main .gallery .images-container a {
    overflow: hidden;
    transition-property: box-shadow, transform, opacity;
}

main .gallery .images-container a.type1 img {
    width: 46rem;
}

main .gallery .images-container a.type2 img {
    height: 30rem;
}

main .gallery .images-container a.type3 img {
    height: 40rem;
}

main .gallery .images-container a:hover {
    opacity: 1;
    transform: scale(1.05);
}

main .history-year-container {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

main .history-year-container .history-year-line-container {
    background: rgba(0, 0, 0, 0.05);
    height: 1px;
    position: absolute;
    width: 100%;
}

main .history-year-container .btn {
    border-radius: 2rem;
    font-family: 'Montserrat';
    font-size: 1.3rem;
    position: relative;
    user-select: none;
    cursor: grab;
}

main .history-year-container .btn:before {
    background: var(--sub);
    bottom: 0;
    content: '';
    height: 1px;
    margin: auto 0;
    position: absolute;
    right: 100%;
    top: 0;
    width: 100vw;
}





@media screen and (max-width: 768px) {
    main .gallery .meta .text-container .year {
        font-size:1.4rem;
    }
    main .gallery .meta .text-container .title {
        font-size:3.2rem;
        line-height:4.6rem;
    }
    main .gallery .meta {
        width:35rem;
    }
    main .gallery .images-container .image-container span {
        opacity: 1;
    }
}

@media screen and (max-width: 450px) {
    main .gallery .images-container a.type2 img {
        height:20rem;
    }
    main .gallery .images-container {
        gap:4rem;
    }
    main .gallery .images-container a {
        display: flex;
        flex-direction: column-reverse;
        box-shadow: none;
    }
    main .gallery .images-container .image-container span {
        position: relative;
        background: none;
        padding:1rem 0 0 0;
        transform:none;
        font-size:1.3rem;
        color:#111;
        font-weight:600;
    }


}